@require "../shared/*"

.course-content
  background-color $color-course-content-block
  border-left white 3px solid
  margin-bottom 3px
  padding 20px
  h1
    nomargin()
    nopadding()
    color white
    font-size 1.3em
    margin-bottom 15px
  h5
    nomargin()
    nopadding()
    color white
    margin 15px 0
  a
    color white
    text-decoration none
  &.class-content, &.webinar-content
    h1
      margin-bottom 20px


.course-content.pre-content
  border-left-color #FCC04E

.course-content.class-content
  border-left-color $color-primary

.course-content.postclass-content
  border-left-color $color-primary

.course-content.webinar-content
  border-left-color #F97A66

.course-content.postwebinar-content
  border-left-color #F97A66
