@require "../shared/*"

.course-content
  background-color $color-course-content-block
  margin-bottom 3px
  padding 20px
  h1
    nomargin()
    nopadding()
    color white
    font-size 1.3em
    margin-bottom 15px
  h5
    nomargin()
    nopadding()
    color white
    margin 15px 0
  a
    color white
    text-decoration none
  &.class-content, &.webinar-content
    h1
      margin-bottom 20px
