@require "../shared/*"

.course-content
  background-color alpha(white, 0.01)
  margin-bottom 3px
  padding 20px
  h1
    nomargin()
    nopadding()
    color white
    font-size 1.3em
  a
    color white
    text-decoration none
  &.class-content, &.webinar-content
    h1
      margin-bottom 20px
