@require "../shared/*"

.main-page
  pinned()
  background-color $color-main-page
  position fixed
  z-index -1

  .col
    background-color $color-col
    box-sizing border-box
    padding 0
    position fixed
    top 120px
    bottom 0
    left 0
    right 0

    .container
      padding 20px
      h1
        nomargin()
        nopadding()
        color #444

  .col#col-main
    background-color $color-col-main
    overflow auto
    transition all 0.2s ease-in-out

    &.background-white
      background-color white

    .main-container
      background-color alpha(black, 0.05)

    @media (min-width: 800px)
      &.narrow
        left 50%
        margin-left -400px
        width 800px
      &.wide
        left 0
        margin-left 0
        width 100%

    @media (min-width: 1240px)
      &.wide
        left 50%
        margin-left -600px
        width 1200px


.content-block
  border-radius 2px
  padding 20px
  margin 20px 0 0 0
  &.white-block
    background-color white

/* App states */

#app.authenticating
  .main-page
    .col
      top 0
