@require "../shared/*"

.main-page
  pinned()
  background-color $color-main-page
  position fixed
  z-index -1

  .col
    background-color $color-col
    box-sizing border-box
    padding 0
    position fixed
    top 60px
    bottom 0
    left 0
    right 0

    .container
      padding 20px
      h1
        nomargin()
        nopadding()
        color $color-text-dark-grey
        margin-bottom 5px

  .col#col-main
    background-color $color-col-main
    margin 0 10px
    overflow auto
    transition all 0.2s ease-in-out
    border-top-left-radius 4px
    border-top-right-radius 4px

    &.background-white
      background-color white

    @media (min-width: 800px)
      &.narrow
        left calc(50% + 5px)
        margin-left -400px
        width calc(800px - (5px * 2))
      &.wide
        left 0
        margin-left 0
        width 100%

    @media (min-width: 1240px)
      &.wide
        left 50%
        margin-left -600px
        width 1200px


.content-block
  border-radius 2px
  padding 20px
  margin 20px 0 0 0
  &.white-block
    background-color white

/* App states */

#app.authenticating
  .main-page
    .col
      top 0
