// Buttons

.pure-button
  animate()
  radius(4px)
  background-color transparent
  border $color-primary 1px solid
  color $color-primary
  display inline-block
  font-family inherit
  font-size 100%
  padding 0.5em 1em
  text-decoration none
  &:hover
    background-color $color-primary
    color white
    cursor pointer

  &.full-width
    display block
    margin-bottom 10px

  &.pure-button-primary
    background-color $color-primary
    color white
    &:hover
      background-color darken($color-primary, 10%)

  &.pure-button-white
    background-color transparent
    border-color white
    color white
    &:hover
      background-color alpha(black, 0.1)

  &.pure-button-success
    background-color $color-success
    color white
    &:hover
      background-color darken($color-success, 10%)

  &.pure-button-twitter
    radius(25px)
    background-color $color-twitter
    border none
    color white
    line-height 50px
    padding 0 30px
    &:hover
      background-color darken($color-twitter, 10%)

  &.pure-button-subtle
    background-color transparent
    border-color $color-grey
    color $color-text-grey
    &:hover
      background-color $color-light-grey
      color $color-text-dark-grey

  &.pure-button-text
    border-color transparent

  &.pure-button-homework
    background-color transparent
    border-color $color-homework
    color $color-homework
    &:hover
      background-color $color-homework
      color white
