// Default
$color-white = #ffffff
$color-primary = #0078e7

// Greys
$color-grey = lighten(#0F1519, 5%)
$color-dark-grey = darken($color-grey, 10%)
$color-darker-grey = darken($color-grey, 20%)
$color-darkest-grey = darken($color-grey, 30%)
$color-light-grey = #e1e1e1
$color-lightest-grey = #f9f9f9

// Text
$color-text-dark-grey = #444
$color-text-grey = #999
$color-text-light-grey = #ccc

// Navigation
$navigation-background-color = $color-darkest-grey
$navigation-text-color = $color-white

// Layout
$color-main-page = $color-dark-grey
$color-col = alpha(white, 0)
$color-col-main = $color-dark-grey

$color-course-content-block = $color-col-main //lighten($color-col-main, 2%)

// Authentication
$color-auth-background-color = $color-dark-grey
