// Default
$color-white = #ffffff
$color-primary = #0078e7
$color-success = #24b424
$color-danger = #FF3B23

// Highlights
$color-purple = #404566

// Purples
$color-dark-purple = darken($color-purple, 10%)
$color-darker-purple = darken($color-purple, 20%)
$color-darkest-purple = darken($color-purple, 30%)

// Greys
$color-light-grey = #e9e9e9
$color-lightest-grey = #f9f9f9

// Text
$color-text-dark-grey = #444
$color-text-grey = #666
$color-text-light-grey = #ccc

// Navigation
$navigation-background-color = darken($color-purple, 20%)
$navigation-text-color = $color-white

// Layout
$color-main-page = darken($color-purple, 20%)//$color-lightest-grey
$color-col = white
$color-col-main = darken($color-purple, 20%)

$color-course-content-block = $color-col-main //lighten($color-col-main, 2%)

// Authentication
$color-auth-background-color = $color-dark-grey
