// Default
$color-white = #ffffff
$color-primary = #1D59E8

// Greys
$color-darkest-grey = #0F1519
$color-dark-grey = lighten(#0F1519, 5%)
$color-grey = #666
$color-light-grey = #e1e1e1
$color-lightest-grey = #f9f9f9

// Navigation
$navigation-background-color = $color-darkest-grey
$navigation-text-color = $color-white

// Layout
$color-main-page = lighten($color-darkest-grey, 5%)
$color-col = alpha(white, 0)
$color-col-main = alpha(white, 0.025)

// Authentication
$color-auth-background-color = $color-dark-grey
