.hidden, [v-cloak]
  display none

.pull-left
  float left

.pull-right
  float right

.clearfix
  clear both
  float none

.fa-icon
  width auto
  height 1em

.no-margin
  margin 0 !important

.no-padding
  padding 0 !important

.background-white
  background-color white !important

// Content block

.main-container
  radius(4px)
  margin-top 20px
  position relative
  @media(max-width: 800px)
    radius(0)
    margin-top 0
  &.main-container-padded
    padding 20px

.content-block
  radius(4px)
  padding 20px
  margin 20px 0 0 0
  @media(max-width: 800px)
    radius(0)
  &.white-block
    background-color white

// Transitions
.fade-enter-active, .fade-leave-active
  animate()

.fade-enter, .fade-leave-to
  opacity 0

.particles-js-canvas-el
  pinned()
  position absolute
  pointer-events none
  z-index -1