.pull-left
  float left

.pull-right
  float right

.clearfix
  clear both
  float none

.fa-icon
  width auto
  height 1em

.background-white
  background-color white !important

.text-white
  color white

// Transitions
.fade-enter-active, .fade-leave-active {
  transition: opacity 0.2s
}
.fade-enter, .fade-leave-to /* .fade-leave-active in <2.1.8 */ {
  opacity: 0
}
.fade-enter-to, .fade-leave /* .fade-leave-active in <2.1.8 */ {
  opacity: 1
}

// Content block

.main-container
  radius(4px)

.content-block
  radius(4px)
  padding 20px
  margin 20px 0 0 0
  &.white-block
    background-color white

// Icons

.icon-margin
  margin 0 5px

// Page header

.page-header
  background linear-gradient(bottom, darken($color-primary, 15%), lighten($color-primary, 5%))

  position absolute
  left 0
  right 0
  text-align center
  height 320px
  z-index -1
  &:after
    // content ''
    background-color $color-primary
    height 100px
    position absolute
    left 0
    right 0
    bottom -50px
    transform rotate(0.5deg)
    z-index 0
