.rendered-markdown
  white-space initial
  word-wrap break-word
  h1
    reset()
    color $color-text-dark-grey
    margin-bottom 5px
  h1, h2, h3, h4, h5, p, a, li
    color $color-text-dark-grey
    &:first-child
      margin-top 0
  h1, h2, h3, h4, h5
    font-weight 300
  h2
    color $color-text-dark-grey
    font-size 1.3em
    font-weight bold
  p
    margin 10px 0
  a
    color $color-primary !important
    text-decoration underline
    &:hover
      color $color-primary
      cursor pointer
  blockquote
    border-left $color-primary 3px solid
    color $color-text-light-grey
    margin 30px 20px 30px 0px
    padding-left 20px
    font-style italic

  pre
    radius(6px)
    background-color $color-lighter-grey
    max-width 100%
    padding 20px
    white-space initial
    word-wrap break-word

  img
    display inline-block
    margin 10px
    width 100%
    max-width 160px

  img[data-4c], .fc-image img, .fc-image > img
    display block
    margin 0
    max-width 100%
    padding 0
    width 100%

  .md-bio
    display inline-block
    min-height 100px
    overflow hidden
    padding 10px
    position relative
    width 160px
    .md-bio--image
      radius(50%)
      reset()
      background-color: $color-lightest-grey
      margin 0 20px
      height 120px
      width 120px
    .md-bio--content
      border-left $color-border 1px solid
      padding 10px
    h5.md-bio--caption
      reset()
      font-size 1em
      font-weight bold
      height 20px
      line-height 20px
      margin 5px 0
      max-width 160px
      overflow hidden
      text-align center
    &.md-bio--with-bio
      radius(6px)
      box-sizing()
      padding 10px
      padding-left 100px
      max-width 100%
      width 100%
      .md-bio--image
        reset()
        position absolute
        top 10px
        left 10px
        height 80px
        width 80px
      h5.md-bio--caption
        reset()
        height 20px
        max-width 100%
        text-align left
        width 100%
      p.md-bio--bio
        reset()
        color $color-text-grey
        text-align left