animate()
  transition all 0.3s linear

pinned(args)
  top args
  bottom args
  left args
  right args

nomargin()
  margin 0

nopadding()
  padding 0

cleanlist()
  nomargin()
  nopadding()
  list-style none

radius(args)
  border-radius args
