transition()
  -webkit-transition: arguments;
  -moz-transition: arguments;
  -o-transition: arguments;
  transition: arguments;

segment-transition()
  -webkit-transition: top 1s, left 1s, height 1s ease;
  -moz-transition: top 1s, left 1s, height 1s ease;
  -o-transition: top 1s, left 1s, height 1s ease;
  transition: top 1s, left 1s, height 1s ease;

animate()
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;

pinned()
  top 0
  bottom 0
  left 0
  right 0

nomargin()
  margin 0

nopadding()
  padding 0

reset()
  nomargin()
  nopadding()

cleanlist()
  nomargin()
  nopadding()
  list-style none

radius()
  -webkit-border-radius: arguments;
  -moz-border-radius: arguments;
  -o-border-radius: arguments;
  border-radius: arguments;

background-image()
  background-size cover
  background-repeat no-repeat
  background-position center
