// Variables

$navigation-height = 50px
$segment-height = 158px

$tile-spacing = 40px
$media-height = 200px

// Profile
$page-header-height = 70px
$profile-header-height = 60px

$font-family = 'Avenir', Helvetica, Arial, sans-serif
