// Variables

$navigation-height = 60px
$segment-height = 158px

$tile-spacing = 30px
$tile-spacing-mobile = 20px

// Action panel
$controls-height = 60px
$media-height = 200px
$media-margin = 0px

$col-width = 780px
$corner-radius = 10px

// Profile
$page-header-height = 60px
$profile-header-height = 60px

$font-family = 'Avenir', Helvetica, Arial, sans-serif
