@require "./shared"

.message-composer-wrapper

  .message-composer
    background-color white
    border-radius 6px
    box-sizing border-box

    position fixed
    bottom -110px
    left 50%
    margin-left calc(-370px / 2)
    overflow hidden
    z-index 51

    height 160px
    width 370px

    transition bottom 0.6s, margin-left 0.6s, margin-bottom 0.6s, width 0.6s

    @media(max-width: 400px)
      .message-composer
        margin-left calc(-50% + 15px)
        width calc(100% - 30px)

    &:hover
      cursor pointer
      bottom -105px

    .message-composer--header
      height 50px

      p
        margin 0
        padding 0 15px

        line-height 50px

        &.action-label
          float left

        &.position-label
          float right

    .message-composer--body
      background-color #f9f9f9
      height 120px

      textarea
        background-color #f9f9f9
        border none
        font-size 1em

        box-sizing border-box
        padding 15px
        height 110px
        width 100%

  .message-composer.isactive, .message-composer.isactive:hover
    bottom 50%
    margin-bottom calc(-160px / 2)
    margin-left calc(-400px / 2)
    z-index 51
    width 400px
    @media(max-width: 400px)
      bottom 0
      margin-left 0
      width 100%

  .message-composer.unactive, .message-composer.unactive:hover
    bottom -160px
