// Buttons

@import '~stylus/shared'

button()
  hover(arguments[0], white)
  background-color arguments[0]
  color arguments[1]
  border-color arguments[2]

.pure-button
  animate()
  hover($color-primary, white)
  radius(6px)
  background-color transparent
  border $color-primary 1px solid
  color $color-primary
  display inline-block
  font-family inherit
  font-size 100%
  line-height 1.5em
  outline 0
  padding 0.4em 1em
  text-align center
  text-decoration none
  svg
    margin-right 6px

  &.pure-button-small
    display inline-block
    padding 0.2em 1em

  &.full-width
    display block
    margin-bottom 10px

  &[disabled]
    background-color $color-light-grey !important
    border-color $color-light-grey !important
    color $color-text-darkest-grey !important
    opacity 0.5
    pointer-events none

  &.pure-button-primary
    button(darken($color-primary, 10%), white, $color-primary)

  &.pure-button-info
    button($color-info, white, $color-info)

  &.pure-button-success
    button($color-success, white, $color-success)

  &.pure-button-subtle
    hover($color-light-grey, $color-text-dark-grey)
    background-color transparent
    border-color $color-grey
    color $color-text-grey

  &.pure-button-transparent
    hover(alpha(black, 0.1), white)
    background-color alpha(black, 0.05)
    border-color transparent
    color white

  &.pure-button-white
    hover(alpha(black, 0.1), $color-text-grey)
    background-color alpha(black, 0.05)
    border-color transparent
    color $color-text-grey
  
  // Branded
  &.pure-button-youtube
    button($color-youtube, white, $color-youtube)
  &.pure-button-soundcloud
    button($color-soundcloud, white, $color-soundcloud)
  &.pure-button-twitter
    button($color-twitter, white, $color-twitter)
  
  // Rounded
  &.rounded-short
    radius(22px)
    line-height 44px
    padding 0 30px
  
  &.rounded-tall
    radius(25px)
    line-height 50px
    padding 0 30px
  