// Buttons

@import '~stylus/shared'

button()
  hover(arguments[0], white)
  background-color arguments[0]
  color arguments[1]
  border-color arguments[2]

.pure-button
  animate()
  radius(4px)
  hover($color-primary, white)
  background-color transparent
  border $color-primary 1px solid
  color $color-primary
  display inline-block
  font-family inherit
  font-size 100%
  outline 0
  padding 0.5em 1em
  text-align center
  text-decoration none

  &.full-width
    display block
    margin-bottom 10px

  &[disabled]
    background-color $color-light-grey !important
    border-color $color-light-grey !important
    color $color-text-darkest-grey !important
    opacity 0.5
    pointer-events none

  &.pure-button-primary
    button($color-primary, white, $color-primary)

  &.pure-button-info
    button($color-info, white, $color-info)

  &.pure-button-success
    button($color-success, white, $color-success)

  &.pure-button-subtle
    hover($color-light-grey, $color-text-dark-grey)
    background-color transparent
    border-color $color-grey
    color $color-text-grey
  
  // Branded
  &.pure-button-youtube
    button($color-youtube, white, $color-youtube)
  &.pure-button-soundcloud
    button($color-soundcloud, white, $color-soundcloud)
  &.pure-button-twitter
    button($color-twitter, white, $color-twitter)
  
  // Rounded
  &.rounded-short
    radius(22px)
    line-height 44px
    padding 0 30px
  
  &.rounded-tall
    radius(25px)
    line-height 50px
    padding 0 30px
  