@import '~stylus/shared'

$panel-width = 340px

.profile-page
      
  .profile-panel
    background-color white
    padding-top 60px
    &.no-header
      padding-top 0

    .profile-panel--content
      .no-results
        color $color-text-grey
        padding 50px 20px
        text-align center

    // &.limited  