@import './shared/colors'
@import './shared/mixins'
@import './shared/buttons'

@import './shared/common'


.page-header
  background-color $color-primary
  position absolute
  left 0
  right 0
  text-align center
  height 300px
  z-index -1
  &:after
    content ''
    background-color $color-primary
    height 100px
    position absolute
    left 0
    right 0
    bottom -50px
    transform rotate(0.5deg)
    z-index 0
